{% extends "process/base.html" %}
{% load js %}
{% load nm %}

{% block head_resources %}
{{block.super}}
{% jsinclude "tables" %}
<style type="text/css">
table.proctable {
  font-size: small;
}
table.proctable tbody {
  white-space: nowrap;
}
</style>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $(".proctable").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    })
});
</script>
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url 'process_am_dashboard' %}">am dashboard</a>{% endblock %}

{% block relatedpages %}
<a href="{% url 'person_amprofile' visitor.lookup_key %}">am settings</a>
{{block.super}}
{% endblock %}

{% block content %}

<h1>Debian New Member</h1>

<p>Currently the database thinks you have the following functions:</p>
<ul>
    {% if visitor.am.is_am_ctte %}<li>New Member Committee</li>{% endif %}
    {% if visitor.am.is_am %}<li>Application Manager with {{ visitor.am.slots }} slots</li>{% endif %}
    {% if visitor.am.is_fd %}<li>Front Desk</li>{% endif %}
    {% if visitor.am.is_dam %}<li>Debian Account Manager</li>{% endif %}
</ul>

{% if visitor.is_admin %}

<h2>Front desk</h2>

<h3>Processes needing attention</h3>

{% include "process/process_list.html" with procs=current_processes %}

{% if approved_processes %}
<h3>Processes approved but not yet closed</h3>

{% include "process/process_list.html" with procs=approved_processes %}
{% endif %}

<h3>Application manager availability</h3>

{% if am_available %}

<p>The following managers have free slots (#free/#slots):</p>
<ul class="horizontal">
    {% for a in am_available %}
    <li><a href="{% url 'person_amprofile' key=a.person.lookup_key %}">{{a.person.uid}}</a>
        ({{a.stats_free}}/{{a.slots}})</li>
    {% endfor %}
</ul>
{% else %}
<p>Currently there are no free application managers.</p>
{% endif %}

{% endif %}


{# only show application manager section if the current user either has AM slots or any existing process assigned #}
{% if visitor.am.slots or am_prog_am or am_prog_hold %}
<h2>Application Manager</h2>

<p>Hello <b>{{visitor.uid}}</b>, here is a list of New Member applicants that
you are the AM for:</p>

<h3>Applicants to process</h3>

<p>The following applicants you are the AM for (ordered by the date you
accepted them as NMs):</p>
{% include "process/process_list.html" with procs=am_prog_am %}

<h3>Applicants on Hold</h3>

<p>Applicants who make it here have some issue with completing the process but
are expected to be able to work around that soon (ordered by hold date).</p>
{% include "process/process_list.html" with progs=am_prog_hold %}

{% endif %}

{% endblock %}

